# document file
*.docx*
*.doc*
*.xls*
*.pdf*
*.ppt*
*.pptx*

# workplace related
.vscode/*
!.vscode/settings.json
compile_flags.txt

# cache
__pycache__
.mypy_cache

# output folder / file
build/
*.exe
*.out
*.o

# backup file
*.zip*
*.7z*
*.tar*
*.rar*

# test file
post.py
post.txt
test.*
